img{
    max-width: 100%;
    object-fit: cover;
}
#home{
    background-image: url("../images/pexels-souvenirpixels-1519088.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color:  rgba(0, 0, 0, 0.516);
    padding: 120px 0px;

}
.icon{
    font-size: 25px;
}
.line{
    color: red;
}
.icons{
    font-size: 50px;
    color: red;
}
.hire{
    margin: 80px 0px;
}